<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dark.mapper.CheckItemMapper">
    <!--增.模板-->
    <!--<insert id="add" parameterType="">
        insert into user values (#{id},#{username},#{password})
    </insert>-->

    <!--删.模板-->
    <!--<delete id="delete" parameterType="">
        delete from user where username = #{username}
    </delete>-->

    <!--改.模板-->
    <!--<update id="update" parameterType="">
        update user set password = #{password} where username = #{username}
    </update>-->

    <update id="update" parameterType="checkItem">
        update t_checkitem
        <set>
            <if test="code != null and code.length > 0">
                code = #{code},
            </if>
            <if test="name != null and name.length > 0">
                name = #{name},
            </if>
            <if test="sex != null and sex.length > 0">
                sex = #{sex},
            </if>
            <if test="age != null and age.length > 0">
                age = #{age},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="attention != null and attention.length > 0">
                attention = #{attention},
            </if>
            <if test="remark != null and remark.length > 0">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--查.模板-->
    <!--<select id="find" parameterType="" resultType="">
        select * from user
    </select>-->

    <select id="findByCondition" parameterType="string" resultType="checkItem">
        select * from t_checkitem
        <where>
            <if test="value != null and value.length > 0">
                and code like #{value} or name like #{value}
            </if>
        </where>
    </select>

    <select id="findByIds" parameterType="int" resultType="checkItem">
        select * from t_checkitem
        <where>
            id in
            <foreach collection="list" item="iid" separator="," open="(" close=")">
                #{iid}
            </foreach>
        </where>
    </select>

</mapper>
