<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dark.mapper.SetmealMapper">
    <!--增.模板-->
    <!--<insert id="add" parameterType="">
        insert into user values (#{id},#{username},#{password})
    </insert>-->

    <insert id="add" parameterType="setmeal">
        insert into t_setmeal values
        (null,#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{remark},#{attention},#{img})
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
    </insert>

    <insert id="addMealAnnoGroup" parameterType="map">
        insert into t_setmeal_checkgroup values
        <foreach collection="list" item="iid" separator=",">
            (#{iid.mealId},#{iid.groupId})
        </foreach>
    </insert>

    <!--删.模板-->
    <!--<delete id="delete" parameterType="">
        delete from user where username = #{username}
    </delete>-->

    <!--改.模板-->
    <!--<update id="update" parameterType="">
        update user set password = #{password} where username = #{username}
    </update>-->

    <update id="update" parameterType="setmeal">
        update t_setmeal
        <set>
            <if test="name != null and name.length > 0">
                name = #{name},
            </if>
            <if test="code != null and code.length > 0">
                code = #{code},
            </if>
            <if test="helpCode != null and helpCode.length > 0">
                helpCode = #{helpCode},
            </if>
            <if test="sex != null and sex.length > 0">
                sex = #{sex},
            </if>
            <if test="age != null and age.length > 0">
                age = #{age},
            </if>
            <if test="price != null and price > 0">
                price = #{price},
            </if>
            <if test="remark != null and remark.length > 0">
                remark = #{remark},
            </if>
            <if test="attention != null and attention.length > 0">
                attention = #{attention},
            </if>
            <if test="img != null and img.length > 0">
                img = #{img},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--查.模板-->
    <!--<select id="find" parameterType="" resultType="">
        select * from user
    </select>-->

    <select id="findByCondition" parameterType="string" resultType="setmeal">
        select * from t_setmeal
        <where>
            <if test="value != null">
                and code like #{value} or name like #{value} or helpCode like #{value}
            </if>
        </where>
    </select>

    <resultMap id="setmealMap" type="setmeal">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="helpCode" column="helpCode"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="price" column="price"/>
        <result property="remark" column="remark"/>
        <result property="attention" column="attention"/>
        <result property="img" column="img"/>
        <collection property="checkGroups" ofType="checkGroup">
            <id property="id" column="cgid"/>
            <result property="code" column="cgcode"/>
            <result property="name" column="cgname"/>
            <result property="helpCode" column="cghelpCode"/>
            <result property="sex" column="cgsex"/>
            <result property="remark" column="cgremark"/>
            <result property="attention" column="cgattention"/>
            <collection property="checkItems" ofType="checkItem">
                <id property="id" column="ciid"/>
                <result property="code" column="cicode"/>
                <result property="name" column="ciname"/>
                <result property="sex" column="cisex"/>
                <result property="age" column="ciage"/>
                <result property="price" column="ciprice"/>
                <result property="type" column="citype"/>
                <result property="remark" column="ciremark"/>
                <result property="attention" column="ciattention"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findMsg" parameterType="int" resultMap="setmealMap">
        select sm.*,cg.id cgid,cg.name cgname,cg.remark cgremark,ci.id ciid,ci.name ciname
        from t_setmeal sm
        left join t_setmeal_checkgroup sg on sm.id = sg.setmeal_id
        left join t_checkgroup cg on cg.id = sg.checkgroup_id
        left join t_checkgroup_checkitem gi on gi.checkgroup_id = cg.id
        left join t_checkitem ci on ci.id = gi.checkitem_id
        where sm.id = #{value}
    </select>

</mapper>
